* {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", Helvetica, sans-serif;
}
.header {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/banner3.jpg);
  height: 700px;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align: center;
  color: #fff;
}

textarea {
  height: 250px;
  width: 500px;
}

#content-title {
  width: 500px;
}

a {
  text-decoration: none;
  color: black;
}

.edit-btn {
  text-align: center;
}



.comment-card {
  text-align: center;
}

.header img {
  width: 170px;
  float: left;
}

.nav-item {
  font-size: 10px;
  padding: 10px;
}

.login-btn,
.home-btn,
.your-content-btn,
.logout-btn,
.signup-btn  {
  width: 150px;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: left;
  text-align: center;
}

.input {
  align-items: center;
}
.header h1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
}
.sub-btn {
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: center;
  margin-bottom: 40%;
}

.input-group {
  width: 90% !important;
  max-width: 500px;
  border-radius: 30px;
  /* background: #fff; */
  margin: auto;
  padding: 2px;
}

.input-group-text {
  width: 100px;
  background-image: linear-gradient(#00ff7e, #1f3d90);
  border: 0 !important;
  color: #fff !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}
.blockquote {
  font-style: italic;
}

.meta,
.blockquote-footer {
  font-weight: bold;
  padding-top: 10px;
}

.form-group {
  width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.card-header {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}

/*features*/

.features {
  padding: 100px 0;
  padding-left: 10%;
}
h1,
h2 {
  text-align: center;
}

.feature-img {
  position: relative;
}

.feature-img img {
  width: 100%;
}
.rating {
text-align: center;
}


.features .fas {
  font-size: 15px;
  color: #ff5722;
}
.feature-details .fas {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
}
.feature-details {
  padding: 20px;
  text-align: justify;
}

.feature-details h4 {
  font-weight: 600;
  margin-top: 20px;
}

.feature-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}
.gallery {
  padding: 100px 0;
  background: #efefef;
}

.gallery p {
  font-size: 25px;
  text-align: center;
}

.gallery-box img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.gallery-box img :hover {
  transform: scale(1.1);
}

.gallery-box h4 {
  display: block;
  color: #fff;
  text-shadow: -2px 2px 2px #000;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
}

.gallery-box {
  position: relative;
  margin-bottom: 30px;
}
/* .middle {
  height: 80%;
  background-image: url(/public/images/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */
.users-feedback {
  padding: 100px 0;
}

.user-review {
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
  padding-bottom: 50px;
}
.users-feedback .user-review p {
  padding: 50px 10px 10px 10px;
}

.users-feedback img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: -30px 0 20px 40%;
}
/* .user-review p::before {
  content: "\201d";
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  left: 44%;
  top: -20px;
} */

.footer {
  padding: 100px 20px 15px;
  background-image: linear-gradient(#2d55, #9610fd);
  color: black;
}
.footer-logo {
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer h4 {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer p {
  font-size: 14px;
  text-align: justify;
  padding-right: 35px;
}

.footer hr {
  margin-top: 10px;
  background: #efefef;
}

.footer .copyright {
  text-align: center;
}
